/* You can add global styles to this file, and also import other style files */


@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; color:red; }
body {
  background-color: gainsboro; margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width:70%;
}
#parent {
  margin-top:50px;
  display: table;
  width: 100%;
}
